@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ";
}

<div class="text-center">
    
    <h1 style="font-size: 3em; font-weight: 700;">Say Hi Hacker</h1>
    <p>You want to hack this Inventory System?</p>
    <img src="~/Images/logo.gif" width="50%" style="margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
</div>
